html,
body {
  padding: 0;
  margin: 0;
  font-family:  Helvetica Neue, Helvetica, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto !important;
  display: flex;
  flex-direction: column;
  height: 100% !important;
}

::-webkit-scrollbar{
  width: 7px;
  background: #FCEDFF;
}

::-webkit-scrollbar-track{
  background: #FCEDFF;
}

::-webkit-scrollbar-thumb{
  background: #B995C0;
  border: 1px solid #9C7CA2;
  border-radius: 8px;
}

