
.fondo{
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  min-height: 100% !important;
}

.container{
  min-height: 100vh !important;
  background-color: #F9F9F9 !important;
  width: 65% !important;
}

.ImageContainer {

  width: 100%;
  position: relative !important;
  height: 400px !important;
}

.image{
  filter: contrast(30%);
  object-fit: cover;
}

.textcover{
  width: 80% !important;
  position: absolute;
  top: 250px;
  left: 30px;
}

@media (max-width: 650px) {
  .container{
    width: 70% !important;
  }

  .textcover{
    top: 130px;
  }
}