.barCar{
    width: 15% !important;
    height: 100vh !important;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #FCEDFF;
}

.button{
    background-color: #B995C0 !important;
    border-color: #9C7CA2 !important;
}

.button:hover{
    background-color: #9C7CA2 !important;
    border-color: #9C7CA2 !important;
}

.span{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shoppingContainer{
    height: 100%;
    overflow: scroll;
}

@media (max-width: 750px) {
    .barCar{
        width: 35% !important;
    }
}